#reg_form {
    margin: 1rem 0rem 0.5rem 0.2rem;
    border-style: double;
    border-color: #0c1d2f #0c1d2f #0c1d2f #0c1d2f;
    font-size: 0.9rem;
    color: #0c1d2f;
    padding: 0rem 0.5rem 1.5rem 0.5rem;
}

#form_reg {
    text-align: justify;
}

#aside_registr {
    font-size: 1.5rem;
    text-align: center;
}

.input_pass_name {
    width: 14rem;
}

@media (max-width: 768px) {
    .input_pass_name {
        width: 10rem;
    }

    #reg_form {
        margin: 1rem 0rem 0.5rem 0.2rem;
        border-style: double;
        border-color: #0c1d2f #0c1d2f #0c1d2f #0c1d2f;
        font-size: 0.8rem;
        color: #0c1d2f;
        padding: 0rem 0.3rem 0.5rem 0.4rem;
    }
}

@media (max-width: 414px) {
    #reg_form {
        width: 470px;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #form_reg {
        text-align: center;
        margin: 1rem;       
    }

    .input_pass_name {
        text-align: center;
        width: 22rem;
        padding: 0.3rem;
        margin: 0.1rem
    }
}