#map {
    text-align: center;
    font-size: 1rem;
    color: #0c1d2f;
    margin: 0.5rem;
    background-color: #03bd99;
    border-style: double;
    border-color: #0c1d2f #0c1d2f #0c1d2f #0c1d2f;
}

#google_map iframe {
    width: 95%;
    margin-bottom: 1rem;
}