#main_menu {
    background-color: #b8dad6 !important;
    border: 3px solid;
    border-color: #dde4ec #0c1d2f #0c1d2f #dde4ec; 
    color: #0c1d2f;
}

.nav-link {
    margin: 0rem 1.6rem 0rem 1.6rem;
}

@media (max-width: 530px) {
    #main_menu {
        margin: 0rem 0.5rem 0rem 0.5rem;
    }
}