#reg_form {
    margin: 1rem 0.5rem 0.5rem 0rem;
    font-size: 0.9rem;
    color: #0c1d2f;
    background-color: #03bd99;
    border-style: double;
    border-color: #0c1d2f #0c1d2f #0c1d2f #0c1d2f;
    padding: 0.1rem;
}

.sub_res {
    width: 47%;
    margin-bottom: 0.2rem;
}

#form_reg {
    text-align: center;
}

.input_pass_name {
    width: 100%;
}


@media (max-width: 770px) {
    #reg_form {
        font-size: 0.8rem;
    }

    .sub_res {
        width: 97%;
    }

    #reg_form h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 530px) {
    #reg_form {
        margin: 0.8rem 0rem 0.8rem 0.5rem;
        width: 97%;
        height: 97%;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.5rem;
        border-style: double;
        border-color: #0c1d2f #0c1d2f #0c1d2f #0c1d2f;      
    }

    .input_pass_name {
        text-align: center;
        width: 20rem;
    }
}

@media (max-width: 414px) {
    #reg_form {
        width: 80%;
        margin: 0.5rem
    }
}