#map {
    text-align: center;
    font-size: 1rem;
    color: #0c1d2f;
    margin: 1rem;
}

#google_map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.google_map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: 530px) {
    #map {
        width: 30.3rem;
    }
}