#main_menu {
    display: grid;
    grid-template-columns: repeat(4, 15%) 1fr;
    grid-template-rows: 1fr ;
    background-color: #b8dad6;
    text-align: center;
    margin-top: 0.5rem;
}

#burger {
    display: none;
}

#main_menu form {
    text-align: right;
    background-color: #b8dad6;
    border: 3px solid;
    border-color: #dde4ec #0c1d2f #0c1d2f #dde4ec; 
    color: white;
    padding: 1rem 1rem 1rem 0rem;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 0.2rem;
}

.button {
    background-color: #b8dad6;
    border: 3px solid;
    border-color: #dde4ec #0c1d2f #0c1d2f #dde4ec;  
    color: #0c1d2f;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 0.2rem;
}


.button:hover { background: #086CA2; }
.button:active { background: #66bbbb; }

@media (max-width: 768px) {
    .button {
        background-color: #b8dad6;
        border: 3px solid;
        border-color: #dde4ec #0c1d2f #0c1d2f #dde4ec;  
        color: #0c1d2f;
        padding: 0.5rem 0rem 0rem 0rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 0.1rem;
    }   
}

@media (max-width: 414px) {
    .button {
        display: none;
    }

    .search {
        display: grid;
        grid-template-columns: 50% 30% 20%;
        grid-template-rows: 1fr;
    }

    #main_menu form {       
        text-align: right;
        border: 1px solid;
        border-color: #dde4ec #0c1d2f #0c1d2f #dde4ec; 
        padding: 1rem 1.6rem 0rem 0.5rem;
        width: 28rem;
    }

    #burger {        
        grid-column: 3/4;
        grid-row: 1/2;
        display: block;
        text-align: right;
    }

    #main_menu_search {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 2rem;
        width: 15rem;
    }

    #main_menu_submit {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 2rem;
        width: 8rem;
        margin-left: 1.5rem;
    }
}